body {
    font-family: 'Lexend';
}

h1, h2, h3, h4 {
    text-align: center;
}

.Head {
    width: 100%;
    height:650px;
    text-align: center;
    background-color: black;
    color: white;
}

.img-centered {
    margin-left: 30%;
}

.box {
    border: 2px solid black;
    border-radius: 30px;
    padding: 75px;
    text-align: center;
    font-size: 36px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.box4 {
    border: 2px solid black;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-size: 27px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.grid-container4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    justify-content: center;
}

button {
    border: none;
    border-radius: 25px;
    background-color: rgb(255, 166, 0);
    color: white;
    padding: 15px;
    margin: 30px;
    margin-left: 45%;
}

a {
    color: rgb(106, 106, 250);
}